name: Integration Tests

on:
  push:
  workflow_dispatch:

env:
  CACHE_FOLDER: docker-cache
  CACHE_FILE_DOCKER_SSHD: docker-cache/docker_sshd.tgz
  CACHE_FILE_DOCKER_PG_PRIMARY: docker-cache/docker_pg_primary.tgz
  CACHE_FILE_DOCKER_PG_STANDBY: docker-cache/docker_pg_standby.tgz
  CACHE_FILE_DOCKER_MINIO: docker-cache/docker_minio.tgz
  CACHE_FILE_DOCKER_MINIO_MC: docker-cache/docker_minio_mc.tgz
  COMPOSE_FILE: "test/integration/environ/docker-compose.yml"

jobs:
  build_images:
    name: Build images (pg${{ matrix.pg_major }})
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        pg_major: [17, 18]

    env:
      PG_MAJOR: ${{ matrix.pg_major }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Restore Docker image cache
        id: cache-images
        uses: actions/cache@v4
        with:
          path: |
            ${{ env.CACHE_FILE_DOCKER_PG_PRIMARY }}
            ${{ env.CACHE_FILE_DOCKER_PG_STANDBY }}
            ${{ env.CACHE_FILE_DOCKER_SSHD }}
            ${{ env.CACHE_FILE_DOCKER_MINIO }}
            ${{ env.CACHE_FILE_DOCKER_MINIO_MC }}
          key: buildx-a8e6319a-8b6d-46d8-aa3a-c5814a4dc166

      - name: Build Docker images and cache them
        # NOTE: rebuild always
        # if: steps.cache-images.outputs.cache-hit != 'true'
        run: |
          set -euo pipefail
          mkdir -p "${{ env.CACHE_FOLDER }}"

          echo "======= Restored cached image archives"
          ls -lah "${{ env.CACHE_FOLDER }}" || true

          gunzip -c "${{ env.CACHE_FILE_DOCKER_PG_PRIMARY }}" | docker load || true
          gunzip -c "${{ env.CACHE_FILE_DOCKER_PG_STANDBY }}" | docker load || true
          gunzip -c "${{ env.CACHE_FILE_DOCKER_SSHD }}" | docker load || true
          gunzip -c "${{ env.CACHE_FILE_DOCKER_MINIO }}" | docker load || true
          gunzip -c "${{ env.CACHE_FILE_DOCKER_MINIO_MC }}" | docker load || true

          echo "Building images for PG_MAJOR=${PG_MAJOR}"
          #docker compose -f "${{ env.COMPOSE_FILE }}" build pg-primary pg-standby sshd minio createbuckets
          
          docker build -t pgrwl/pg-primary-${PG_MAJOR} --build-arg=PG_MAJOR=${PG_MAJOR} -f test/integration/environ/dockerfiles/pg-primary/Dockerfile --cache-from=pgrwl/pg-primary-${PG_MAJOR}:latest test/integration/environ
          docker build -t pgrwl/pg-standby-${PG_MAJOR} --build-arg=PG_MAJOR=${PG_MAJOR} -f test/integration/environ/dockerfiles/pg-standby/Dockerfile --cache-from=pgrwl/pg-standby-${PG_MAJOR}:latest test/integration/environ
          docker build -t pgrwl/sshd                                                    -f test/integration/environ/dockerfiles/sshd/Dockerfile       --cache-from=pgrwl/sshd:latest                   test/integration/environ
          docker build -t pgrwl/minio                                                   -f test/integration/environ/dockerfiles/minio/Dockerfile      --cache-from=pgrwl/minio:latest                  test/integration/environ
          docker build -t pgrwl/minio-mc                                                -f test/integration/environ/dockerfiles/minio_mc/Dockerfile   --cache-from=pgrwl/minio-mc:latest               test/integration/environ

          echo "======= Images after build"
          docker images || true

          # image names must match docker-compose.yml
          docker save "pgrwl/pg-primary-${PG_MAJOR}" | gzip -c > "${{ env.CACHE_FILE_DOCKER_PG_PRIMARY }}"
          docker save "pgrwl/pg-standby-${PG_MAJOR}" | gzip -c > "${{ env.CACHE_FILE_DOCKER_PG_STANDBY }}"
          docker save "pgrwl/sshd" | gzip -c > "${{ env.CACHE_FILE_DOCKER_SSHD }}"
          docker save "pgrwl/minio" | gzip -c > "${{ env.CACHE_FILE_DOCKER_MINIO }}"
          docker save "pgrwl/minio-mc" | gzip -c > "${{ env.CACHE_FILE_DOCKER_MINIO_MC }}"

          echo "======= Cached archives"
          ls -lah "${{ env.CACHE_FOLDER }}"

  test:
    name: Run integration tests (pg${{ matrix.pg_major }})
    runs-on: ubuntu-latest
    needs: [build_images]

    strategy:
      fail-fast: false
      matrix:
        pg_major: [17, 18]

    env:
      PG_MAJOR: ${{ matrix.pg_major }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Restore Docker image cache
        id: cache-images
        uses: actions/cache@v4
        with:
          path: |
            ${{ env.CACHE_FILE_DOCKER_PG_PRIMARY }}
            ${{ env.CACHE_FILE_DOCKER_PG_STANDBY }}
            ${{ env.CACHE_FILE_DOCKER_SSHD }}
            ${{ env.CACHE_FILE_DOCKER_MINIO }}
            ${{ env.CACHE_FILE_DOCKER_MINIO_MC }}
          key: buildx-a8e6319a-8b6d-46d8-aa3a-c5814a4dc166

      - name: Fail if cache is missing
        if: steps.cache-images.outputs.cache-hit != 'true'
        run: |
          echo "Docker image cache not found for PG_MAJOR=${PG_MAJOR}!"
          exit 1

      - name: Load Docker images from cache
        run: |
          set -euo pipefail

          ls -lah "${{ env.CACHE_FOLDER }}" || true

          gunzip -c "${{ env.CACHE_FILE_DOCKER_PG_PRIMARY }}" | docker load
          gunzip -c "${{ env.CACHE_FILE_DOCKER_PG_STANDBY }}" | docker load
          gunzip -c "${{ env.CACHE_FILE_DOCKER_SSHD }}" | docker load
          gunzip -c "${{ env.CACHE_FILE_DOCKER_MINIO }}" | docker load
          gunzip -c "${{ env.CACHE_FILE_DOCKER_MINIO_MC }}" | docker load

          echo "======= Images after load"
          docker images || true

      - name: Run tests
        run: |
          set -euo pipefail

          echo "Running integration tests against PostgreSQL ${PG_MAJOR}"
          docker images || true

          docker compose -f "${{ env.COMPOSE_FILE }}" up -d
          docker ps
