---
name: Build Cache Testing

on:
  push:

jobs:
  build:
    name: Build lnd
    runs-on: ubuntu-latest

    strategy:
      matrix:
        image:
          - name: pg-primary
            file: test/integration/environ/dockerfiles/pg-primary/Dockerfile
            tag: prgwl/pg-primary-17:latest
            tar: pg-primary-17.tgz
          - name: pg-standby
            file: test/integration/environ/dockerfiles/pg-standby/Dockerfile
            tag: prgwl/pg-standby-17:latest
            tar: pg-standby-17.tgz

    env:
      QEMU_VERSION: v5.1.0
      DOCKER_BUILDKIT: 1

    steps:
      - uses: actions/checkout@v6

      - name: Build
        run: >
          docker build --no-cache 
          -f          "${{ matrix.image.file }}"
          --build-arg "test=0"
          --label     "commit=${{ github.sha }}"
          --tag       "${{ matrix.image.tag }}" 
          test/integration/environ

      - name: Save image to a .tgz file
        run: |
          mkdir -p images/
          docker save "${{ matrix.image.tag }}" | gzip > "images/${{ matrix.image.tar }}"

      - name: Print sha256sum of built image
        run: (cd images/; sha256sum *)

      - name: Upload docker image as build artifact
        uses: actions/upload-artifact@v4
        with:
          name: docker-images
          path: images/

  deploy:
    name: Deploy to Docker Hub & Github Releases.  Only after successful build.
    runs-on: ubuntu-latest
    needs: build
    env:
      DOCKER_CLI_EXPERIMENTAL: enabled
    steps:
      - name: Download all build artifacts
        uses: actions/download-artifact@v4
        with:
          name: docker-images

      - name: Print sha256sum of downloaded images
        run: sha256sum docker-images/*

      - name: Load images locally
        run: find docker-images  -exec docker load -i "{}" \;
