name: Build Cache Testing

on:
  push:

env:
  COMPOSE_FILE: "test/integration/environ/docker-compose.yml"

jobs:
  build:
    name: build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Bake and Build Docker Compose Services
        uses: docker/bake-action@v4
        with:
          load: true # Load the image into Docker daemon after building
          files: |
            ${{ env.COMPOSE_FILE }}
          set: |
            *.cache-to=type=gha,mode=max,scope=${{ github.repository }}
            *.cache-from=type=gha,scope=${{ github.repository }}
