name: ci

on:
  push:

jobs:
  build_images:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          tags: user/app:latest
          file: test/integration/environ/dockerfiles/pg-primary/Dockerfile
          context: test/integration/environ
          cache-from: type=gha
          cache-to: type=gha,mode=max

  test:
    name: Test
    runs-on: ubuntu-latest
    needs: [build_images]

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Load images
        run: |
          docker image ls -a
